# Environment
.env

# Node
backend/node_modules/
backend/*.log

# Flutter/Dart
app/.dart_tool/
app/.flutter-plugins-dependencies
app/build/
app/.pub-cache/
app/.pub/
app/android/local.properties
app/android/.gradle/
app/android/app/.cxx/
app/android/build/
app/android/app/build/
app/ios/Pods/
app/ios/.symlinks/
app/ios/Flutter/Flutter.podspec
app/**/*.iml

# IDE
.idea/
.vscode/
